<a href="#{{pic.filename}}" class="modal-call">
  {% include partial/picture.html %}
  <h3>{{ pic.label }}</h3>
  <p>{{ pic.caption }}</p>
</a>

<section class="semantic-content" id="{{pic.filename}}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">    
		<div class="modal-inner__image">
  		{% include partial/picture.html %}
		</div>
    <div class="label">
			<h3>{{ pic.label }}</h3>
      <p>{{ pic.caption }}</p>
    </div>
	</div>

  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>