---
layout: default
section: blog
---

<div class="post-content-truncate">
  {% if post.content contains "<!-- more -->" %}
    {{ post.content | split:"<!-- more -->" | first % }}
  {% else %}
    {{ post.content | strip_html | truncatewords:100 }}
  {% endif %}
</div>


<div>
  {% for item in site.posts limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h4>{{item.date | date: '%B %Y'}}</h4>
    {% endif %}
    <ul>
      <li><a  href='{{item.url}}'>{{item.title}} - {{item.date | date:"%b %d"}}</a></li>
    </ul>
    
  {% endfor %}
</div>

{% include rss-link.html %}

{% for category in site.categories %}
    <a href="/{{ category | first | slugize }}/">
        {{ category | first }}
    </a>
{% endfor %}