@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Font-Size
 *
 * rem for browsers with support
 * px for ones without
 *
 * @include font-size(24)
 */
/**
 * CSS-Hyphens [Malarky/Rock-Hammer]
 *
 * how to go about splitting words to improve the layout of text when line-wrapping.
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
 * 
 * @include css-hyphens( none | manual | auto)
 */
/**
 * Hide [based on Malarky/Rock-Hammer] 
 *
 * hide elements based on requirement
 * 
 * @include hide(hidden | hide-text | invisible | visually-hidden | image-replacement)
 */
/**
 * Box-Shadow [Malarky/Rock-Hammer]
 *
 * @include box-shadow(horizontal vertical blur color)
 */
/**
 * Drop-Shadow [Malarky/Rock-Hammer]
 *
 * @include drop-shadow( horizontal vertical blur color )
 */
/**
 * Opacity [Malarky/Rock-Hammer]
 *
 * @include opacity( integer )
 */
/**
 * Background-Size [Malarky/Rock-Hammer]
 *
 * @include background-size( auto | % | px )
 */
/**
 * Background-Clip [Malarky/Rock-Hammer]
 *
 * @include background-clip( border-box | padding-box | content-box )
 */
/**
 * Text-Overflow [Malarky/Rock-Hammer]
 *
 * @include text-overflow()
 */
/**
 * Zero [Malarky/Rock-Hammer]
 *
 * zero out margin and padding
 *
 * @include zero()
 */
/**
 * Breakpoint [Malarky/Rock-Hammer]
 *
 *
 *
 *
 * @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
 */
/**
 * Clearfix
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/**
 * Flexbox
 */
/**
 * Flex
 *
 * @include flex( 1, 200px)
 */
/**
 * Flex-Direction
 *
 * @include flex-direction( row | row-reverse | column | column-reverse)
 */
/**
 * Flex-Wrap
 *
 * @include flex-wrap( nowrap | wrap | wrap-reverse )
 */
/**
 * Content-Justify
 *
 * @include content-justify( flex-start | flex-end | center | space-between | space-around )
 */
/**
 * Align-Items
 *
 * @include align-items( flex-start | flex-end | center | baseline | stretch )
 */
/**
 * Align-Content
 *
 * @include align-content( flex-start | flex-end | center |  space-between | space-around | stretch )
 */
/**
 * Order
 *
 * @include order( integer )
 */
/* `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set <html> and <body> to inherit the height of the viewport */
html,
body {
  min-height: 100%; }

/**
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove iOS text size adjust without disabling user zoom
 */
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
  /* 10px */ }

/**
 * 1. Inherits percentage declared on above <html> as the root `font-size`
 * 2. Unitless `line-height`, which acts as a multiple of the root `font-size`
 */
body {
  font-size: 1rem;
  /* 1 */
  line-height: 1.5;
  /* 2 */ }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* Change `background` for text selections when browser is unfocused */
::selection:window-inactive {
  background: #d0d0d0; }

/* Remove `background` on images when selected */
img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* Define a mobile tap highlight color (iOS 1.1.1+) */
a:link {
  -webkit-tap-highlight-color: #b3d4fc; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* Fluid-width <audio> elements */
audio {
  width: 100%; }

/* Fluid-width media that maintain their aspect ratios */
img,
video {
  max-width: 100%;
  width: auto\9;
  height: auto !important; }

abbr,
acronym,
dfn[title] {
  cursor: help; }

abbr a {
  text-decoration: none; }

acronym {
  text-transform: uppercase; }

details {
  cursor: pointer; }

/* Nested `list-style` types for ordered lists */
ol {
  list-style: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: lower-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

p,
table,
textarea,
td,
th {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; }

#header {
  height: 225px; }

#header {
  background-image: url("../img/header_bg.png");
  background-color: transparent;
  border: 0;
  overflow: hidden; }
  #header:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
