// IMPORTS
@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";

// SMACSS
@import "base";
@import "layout";
@import "module";
@import "state";

// 
// Template
// Created By: 
// -----------------------------------------------------------------------------

// General
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  width: 32px;
  text-align: center;
}
// icons
.icon-everything:before { content: "\F0AC"; }
.icon-carry:before      { content: "\f0f2"; }
.icon-clothing:before   { content: "\f007"; }
.icon-devices:before    { content: "\f10b"; }
.icon-dining:before     { content: "\F0F5"; }
.icon-safety:before     { content: "\F0FE"; }
.icon-shelter:before    { content: "\F015"; }
.icon-tools:before      { content: "\F0AD"; }


// Header
#header {
  background-image: url("../img/header_bg.png");
  
  
  &, .logo {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .logo {
    background-image: url("../img/header_logo.png");
    height: 100%;
    
    @include hide(image-replacement);
    
    @include breakpoint($bp3, max, width) {
      @include background-size(320px auto);
    }
      
    h1,
    h2 {
      @include zero;
    }
  }
}





// -----------------------------------------------------------------------------
// End of template
//

@import "print";