<section id="rating" class="rating">
  <h2>Ratings</h2>
    
  {% for i in (0..page.rating.size) %}
  <div class="rating-group">
    {% case i %}
      {% when 0 %}
        <h3>Quality</h3>
      {% when 1 %}
        <h3>Design</h3>
      {% when 2 %}
        <h3>Cost</h3>
      {% when 3 %}
        <h3>Usefullness</h3>
      {% when 4 %}
        <h3>General</h3>
    {% endcase %}
    
    
    <ul>
    {% if page.rating[i] != null %}
      {% if page.rating[i] == "na" %}
        <li>Not Applicable</li>
      {% else %}
        {% for i in (1..page.rating[i]) %}<li><i class="icon icon-star"></i></li>{% endfor %}
        {% for n in (page.rating[i]..4) %}<li><i class="icon icon-star-empty"></i></li>{% endfor %}
      {% endif %}
    {% endif %}
    </ul>
  </div>
  {% endfor %}
</section>