.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.icon--circle { border-radius: 50%; }
.icon--dark { background-color: $tertiarycolor; }

.icon--stack {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
}

.icon--base {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
}

.icon--stack .icon {
  display: block;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  z-index: 2;
}