.gallery {

}

.gallery__header {

}
  
.gallery__list {
  list-style: none;
  @extend %zero;
}

.gallery__item {
  display: inline-block;
  border: 1px solid $lighterneutralcolor;
  width: 33%;
  margin-right: 0.333333%;
  padding: 1px;
  
  &:last-of-type {
    margin-right: 0;
  }
  
  div {
    display: inline-block;
    
    img {
      margin-bottom: 1px;
      width: 100%;
    }
    
    h3,    
    p {
      @extend %hide-screen;
    }
    
    
  }
}


.label {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  padding: 0 20px;
 
  h3,
  p {
    display: block;
  }
}