.rating {
  h2 {
    
  }
  
  .rating-group {
    @extend %clearfix;
    
    h3 {
      @include font-size(16);
      font-weight: normal;
      float: left;
      @extend %zero;
    }
    
    ul {
      float: right;
      list-style: none;
      @extend %zero;
      
      li {
        font-style: italic;
        font-weight: 200;
        color: $lighterneutralcolor;
        display: inline;
      }
    }
  }
  
}