// Subscribe
.subscribe {
  padding: 0 20px;
  color: $lighterneutralcolor;
  text-shadow: 0 -1px 0 $lightestneutralcolor;
  background-color: $lightestneutralcolor;
  border-top: 1px solid darken($lightestneutralcolor, 5);
  text-align: center;
  
  @include font-size(24);
  @extend %clearfix;
  
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
    font-weight: 200;
    font-style: italic;
    color: $lightneutralcolor;
  }
  
  .subscribe__header {
    @extend %hide-screen;
  }
}