.article-list {
  list-style: none;
  @extend %zero;
}

.article-list > li {
  // separator
  &:after {
    border-bottom: 1px dotted $lighterneutralcolor;
    content: '';
    display: block;
    padding-top: 10px;
  }
  
  &:last-of-type:after {
    border: none;
  }
  
  @include breakpoint($bp4, min, width) {
    &:nth-of-type(2n) {
      .image-wrapper {
        float: right;
        margin-left: 20px;
      }
    }
  }
}
