
.article {
  margin: 20px 20px 0;
  @extend %clearfix;
  
  .icon--stack {
    margin: -16px 0 0 -16px;
  }
}

.article__image {
  img {
    width: 100%;
    max-width:100%;
    max-height:100%;
  }
}
 
 
.article__header {
  @extend %clearfix;
  
  .article__title {
    font-weight: 400;
    @extend %zero;
    @include font-size(24);
  }
  
  .article__subheader {
    font-weight: 200;
    @include font-size(18);
    @extend %zero;
  }
}


.article__details {
  border-bottom: 1px solid $lightestneutralcolor;
  @extend %grid;
  
  li {
    @extend %grid__item;
    @extend %bp2--half;
    @include font-size(12);
  }
  
  li, li a {
    color: $lightneutralcolor;
    text-decoration: none;
  }
}