// IMPORTS

@import "variables";
@import "_vendor/normalize";
@import "_vendor/bourbon/bourbon";
@import "_vendor/neat/neat";
@import "mixins";

// SMACSS
@import "base";
@import "layout";
@import "module";
@import "state";

// 
// Template
// Created By: 
// -----------------------------------------------------------------------------

// General
@include bp-helper;



// Header
#header {
  background-image: url("../img/header_bg.png");
  
  
  &, .logo {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .logo {
    background-image: url("../img/header_logo.png");
    height: 100%;
    
    @include hide(image-replacement);
    
    @include breakpoint($bp3, max, width) {
      @include background-size(320px auto);
    }
      
    h1,
    h2 {
      @include zero;
    }
  }
}





// -----------------------------------------------------------------------------
// End of template
//

@import "print";