/*----------------------------------------------------------------------------*\
  Layout
\*----------------------------------------------------------------------------*/

.l-header {
  height: 225px;

  .header__title {
    @extend %hide-screen;
  }
  
  @include breakpoint($bp3, min-width) {
    height: 300px;
  }
}





.l-colophon {
  color: $lightneutralcolor;
  background-color: $lighterneutralcolor;
  padding: 0 20px;
  @extend %grid;
  
  .colophon__about,
  .colophon__contact {
    @extend %grid__item;
    @extend %bp2--half;
  }
   
  .colophon__title {
    @extend %hide-screen;
  }
}





.l-footer {
  color: $neutralcolor;
  padding: 0 20px;
  background-color: $lightneutralcolor;
  text-align: center;
/*   @include font-size(14); */
 
  .footer__header {
    @extend %hide-screen;
  }
   
  a {
    color: $darkneutralcolor;
    text-decoration: none;
  }
  
  .copyright {
    @include font-size(12);
    @extend %zero;
  }
  
  .footer__menu {
    @include font-size(12);
    li { margin: 0 0.5em; }
  }
  
  .contact__header {
    @include font-size(18);
  }
  
  .contact__menu {
    
    li {
      width: 36px;
      height: 36px;
      
      .icon--base {
        background-color: $neutralcolor;
      }
      
      a:hover {
        .icon--base {
         background-color: $darkneutralcolor; 
        }
      }
    }    
  }  
}