@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * breakpoint
 *
 * use bubbling to create breakpoints of current selector
 *
 * @include breakpoint(basic) 
 */
/* `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set <html> and <body> to inherit the height of the viewport */
html,
body {
  min-height: 100%; }

/**
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove iOS text size adjust without disabling user zoom
 */
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
  /* 2 */ }

html {
  font-size: 75%;
  /* 12px */ }
  @media (max-width: 319px) {
    html {
      font-size: 81.25%; } }
  @media (min-width: 320px) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 768px) {
    html {
      font-size: 100%; } }
  @media (min-width: 1024px) {
    html {
      font-size: 112.5%; } }
  @media (min-width: 1280px) {
    html {
      font-size: 150%; } }

/**
 * 1. Inherits percentage declared on above <html> as the root `font-size`
 * 2. Unitless `line-height`, which acts as a multiple of the root `font-size`
 */
body {
  font-size: 1rem;
  /* 1 */
  line-height: 1.5;
  /* 2 */ }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* Change `background` for text selections when browser is unfocused */
::selection:window-inactive {
  background: #d0d0d0; }

/* Remove `background` on images when selected */
img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* Define a mobile tap highlight color (iOS 1.1.1+) */
a:link {
  -webkit-tap-highlight-color: #b3d4fc; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* Fluid-width <audio> elements */
audio {
  width: 100%; }

/* Fluid-width media that maintain their aspect ratios */
img,
video {
  max-width: 100%;
  width: auto\9;
  height: auto !important; }

abbr,
acronym,
dfn[title] {
  cursor: help; }

abbr a {
  text-decoration: none; }

acronym {
  text-transform: uppercase; }

details {
  cursor: pointer; }

/* Nested `list-style` types for ordered lists */
ol {
  list-style: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: lower-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

p,
table,
textarea,
td,
th {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; }

.handler, .handler-icon {
  display: none; }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    display: inline; }

@media (max-width: 500px) {
  html {
    overflow-x: hidden; }

  .wrapper {
    left: 0;
    position: relative;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out; }

  #nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out; }
    #nav ul li a {
      display: block; }

  .handler-icon {
    display: inline; }

  .handler#handler:checked ~ #nav {
    width: 90%; }
  .handler#handler:checked ~ .wrapper {
    left: 90%; } }
#nav h2 {
  display: none; }

.icon-everything:before {
  content: "\F0AC"; }

.icon-carry:before {
  content: "\f0f2"; }

.icon-clothing:before {
  content: "\f007"; }

.icon-devices:before {
  content: "\f10b"; }

.icon-dining:before {
  content: "\F0F5"; }

.icon-safety:before {
  content: "\F0FE"; }

.icon-shelter:before {
  content: "\F015"; }

.icon-tools:before {
  content: "\F0AD"; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
