/*! ------------------------------------------------------------------------ !*\
    Created By: Gregory Daynes
    
    based on BEM/SMACSS principals
    
    mixins    some taken from Malarky/Rock Hammer, H5BP
    base      H5BP, Malarky/Rock Hammer, Around the Web
    normalize v2.1.2 | MIT License | git.io/normalize
    grids   https://github.com/csswizardry/csswizardry-grids
\*! ------------------------------------------------------------------------ !*/
/*--------------------*\
  Tools
\*--------------------*/
/*--------------------*\
  Breakpoints
\*--------------------*/
/*--------------------*\
  Grid
\*--------------------*/
/*--------------------*\
  Nav options
\*--------------------*/
/*--------------------*\
  Colors
\*--------------------*/
.l-colophon, .article__details, fieldset, .l-footer .footer__menu, .l-footer .copyright, .article__header .article_title, .article__header .article_subheader, .article-list, .article-list > li article header h1, .article-list > li article header h3, .article-list > li article ul, .gallery_list, #header .logo h1,
#header .logo h2 {
  /*--------------------*\
    Malarky/Rock-Hammer
    
    zero out margin and padding
    
    @extend %zero
  \*--------------------*/
  margin: 0;
  padding: 0; }

.article, .article__header, .article-list > li article {
  /*--------------------*\
    For modern browsers
    1. The space content is one way to avoid an Opera bug when the
       `contenteditable` attribute is included anywhere else in the document.
       Otherwise it causes space to appear at the top and bottom of elements
       that receive the `clearfix` class.
    2. The use of `table` rather than `block` is only necessary if using
       `:before` to contain the top-margins of child elements.
  \*--------------------*/ }
  .article:before, .article__header:before, .article-list > li article:before, .article:after, .article__header:after, .article-list > li article:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .article:after, .article__header:after, .article-list > li article:after {
    clear: both; }

.l-colophon .colophon__about,
.l-colophon .colophon__contact, .article__details li, input[type="checkbox"],
input[type="radio"] {
  /*--------------------*\
    CSS3Please.com + Everyone
    
    @extend %box-sizing
  \*--------------------*/
  -webkit-box-sizing: border-box;
  /* Android 2.3, iOS 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */ }

.l-header .header__title, .l-colophon .colophon__title, .l-footer .footer__title {
  /*--------------------*\
    
    
    @extend %hide-screen
  \*--------------------*/
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.l-colophon, .article__details {
  list-style: none;
  margin-left: -24px; }

.l-colophon .colophon__about,
.l-colophon .colophon__contact, .article__details li {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */ }

@media only screen and (min-width: 30em) {
  .l-colophon .colophon__about,
  .l-colophon .colophon__contact, .article__details li {
    width: 50%; } }
/*--------------------*\
  Styles
\*--------------------*/
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Set <html> and <body> to inherit the height of the viewport */
html,
body {
  min-height: 100%; }

/**
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove iOS text size adjust without disabling user zoom
 */
html {
  overflow-y: scroll;
  /* 1 */
  font-size: 62.5%;
  /* 10px */
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
  /* 2 */ }

/**
 * 1. Inherits percentage declared on above <html> as the root `font-size`
 * 2. Unitless `line-height`, which acts as a multiple of the root `font-size`
 */
body {
  margin: 0;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* Change `background` for text selections when browser is unfocused */
::selection:window-inactive {
  background: #d0d0d0; }

/* Remove `background` on images when selected */
img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* Define a mobile tap highlight color (iOS 1.1.1+) */
a:link {
  -webkit-tap-highlight-color: #b3d4fc; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 1. Remove border when inside `a` element in IE 8/9. 
 */
img {
  vertical-align: middle;
  width: 100%;
  border: 0;
  /* 1 */ }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0; }

/*
 * Allow only vertical resizing of textareas.
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  resize: vertical;
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* Fluid-width <audio> elements */
audio {
  width: 100%; }

/* Fluid-width media that maintain their aspect ratios */
img,
video {
  max-width: 100%;
  width: auto;
  height: auto !important; }

abbr,
acronym,
dfn[title] {
  cursor: help; }

abbr a {
  text-decoration: none; }

acronym {
  text-transform: uppercase; }

details {
  cursor: pointer; }

/* Nested `list-style` types for ordered lists */
ol {
  list-style: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: lower-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

p,
table,
textarea,
td,
th {
  /*--------------------*\
    Malarky/Rock-Hammer
    how to go about splitting words to improve the layout of text when
    line-wrapping
    https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
    
    @include css-hyphens( none | manual | auto)
  \*--------------------*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word; }

/*----------------------------------------------------------------------------*\
  Layout
\*----------------------------------------------------------------------------*/
.l-header {
  height: 225px;
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/ }
  @media width and (min: 37.5em) {
    .l-header {
      height: 300px; } }

.l-colophon {
  color: #8a7b7b;
  background-color: #c6bfbf;
  padding: 0 20px; }

.l-footer {
  color: #473f3f;
  padding: 0 20px;
  background-color: #8a7b7b;
  text-align: center;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6; }
  .l-footer .footer__menu {
    list-style: none; }
    .l-footer .footer__menu li {
      display: inline; }
  .l-footer a {
    color: black;
    text-decoration: none; }

/*----------------------------------------------------------------------------*\
  Modules
\*----------------------------------------------------------------------------*/
.article {
  margin: 20px 20px 0; }

.article__image img {
  width: 100%;
  max-width: 100%;
  max-height: 100%; }

.article__header .article_title {
  font-weight: 600;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.6; }
.article__header .article_subheader {
  font-weight: 200;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6; }

.article__details {
  border-bottom: 1px solid #f6f5f5; }
  .article__details li {
    /*--------------------*\
      rem for browsers with support
      px for ones without
      
      @include font-size(integer)
    \*--------------------*/
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6; }
  .article__details li, .article__details li a {
    color: #8a7b7b;
    text-decoration: none; }

.article-list {
  list-style: none; }
  .article-list > li {
    /*--------------------*\
      Malarky/Rock-Hammer
      
      @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
    \*--------------------*/ }
    .article-list > li:after {
      border-bottom: 1px dotted #c6bfbf;
      content: '';
      display: block;
      padding-top: 10px; }
    .article-list > li:last-of-type:after {
      border: none; }
    @media width and (min: 48em) {
      .article-list > li:nth-of-type(2n) .image-wrapper {
        float: right;
        margin-left: 20px; } }
    .article-list > li article {
      margin: 20px 20px 0; }
      .article-list > li article .icon-stack {
        margin: -16px 0 0 -16px; }
      .article-list > li article .image-wrapper {
        margin-bottom: 4px;
        /*--------------------*\
          Malarky/Rock-Hammer
          
          @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
        \*--------------------*/ }
      .article-list > li article img {
        width: 100%;
        max-width: 100%;
        max-height: 100%; }
      .article-list > li article header h1 {
        /*--------------------*\
          rem for browsers with support
          px for ones without
          
          @include font-size(integer)
        \*--------------------*/
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.6;
        font-weight: 400; }
      .article-list > li article header h3 {
        /*--------------------*\
          rem for browsers with support
          px for ones without
          
          @include font-size(integer)
        \*--------------------*/
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1.6;
        font-weight: 200; }
      .article-list > li article ul {
        list-style: none; }
        .article-list > li article ul li {
          display: inline;
          color: #8a7b7b;
          /*--------------------*\
            rem for browsers with support
            px for ones without
            
            @include font-size(integer)
          \*--------------------*/
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 1.6; }
          .article-list > li article ul li a {
            color: #8a7b7b;
            text-decoration: none; }

[class^="btn-"],
[class*=" btn-"] {
  text-decoration: none;
  float: right;
  margin: 10px 0 0 10px;
  color: white;
  background-color: #929a00;
  padding: 2px 10px;
  line-height: 1;
  border-top: 1px solid #aab300;
  border-bottom: 1px solid #838b00;
  border-radius: 2px;
  /*--------------------*\
    rem for browsers with support
    px for ones without
    
    @include font-size(integer)
  \*--------------------*/
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include box-shadow(horizontal vertical blur color)
  \*--------------------*/
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  /*--------------------*\
    CSS3 Please
    
    @include linear-gradient(#000, #fff);
  \*--------------------*/
  background-color: #9ca400;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9ca400), to(#8d9500));
  background-image: -webkit-linear-gradient(top, #9ca400, #8d9500);
  background-image: -moz-linear-gradient(top, #9ca400, #8d9500);
  background-image: -o-linear-gradient(top, #9ca400, #8d9500);
  background-image: linear-gradient(to bottom, #9ca400, #8d9500); }
  [class^="btn-"]:hover,
  [class*=" btn-"]:hover {
    cursor: pointer; }
  [class^="btn-"]:active,
  [class*=" btn-"]:active {
    border-top-color: #838b00;
    border-bottom: 1px solid transparent;
    /*--------------------*\
      Malarky/Rock-Hammer
      
      @include box-shadow(horizontal vertical blur color)
    \*--------------------*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none; }
  [class^="btn-"] i,
  [class*=" btn-"] i {
    position: relative;
    display: inline-block;
    top: 3px; }

.btn-action {
  border-top-color: #cddfe6;
  border-bottom-color: #b2cdd9;
  /*--------------------*\
    CSS3 Please
    
    @include linear-gradient(#000, #fff);
  \*--------------------*/
  background-color: #c3d8e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c3d8e1), to(#b9d2dc));
  background-image: -webkit-linear-gradient(top, #c3d8e1, #b9d2dc);
  background-image: -moz-linear-gradient(top, #c3d8e1, #b9d2dc);
  background-image: -o-linear-gradient(top, #c3d8e1, #b9d2dc);
  background-image: linear-gradient(to bottom, #c3d8e1, #b9d2dc); }
  .btn-action:active {
    border-top-color: #b2cdd9;
    /*--------------------*\
      Malarky/Rock-Hammer
      
      @include box-shadow(horizontal vertical blur color)
    \*--------------------*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none; }

.gallery_list {
  list-style: none; }

.gallery__item {
  display: inline-block;
  border: 1px solid #c6bfbf;
  width: 33%;
  margin-right: 0.333333%;
  padding: 1px; }
  .gallery__item:last-of-type {
    margin-right: 0; }
  .gallery__item div {
    display: inline-block; }
    .gallery__item div img {
      margin-bottom: 1px;
      width: 100%; }
    .gallery__item div h3 {
      /*--------------------*\
        based on Malarky/Rock-Hammer
        hide elements based on requirement
        
        @include hide(option)
      \*--------------------*/
      /*@if $type == hide-screen
      {
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        
        &.focusable {
          &:active,
          &:focus {
            position: static;
            clip: auto;
            height: auto;
            width: auto;
            margin: 0;
            overflow: visible;
          } 
        }
      }*/ }
    .gallery__item div p {
      /*--------------------*\
        based on Malarky/Rock-Hammer
        hide elements based on requirement
        
        @include hide(option)
      \*--------------------*/
      /*@if $type == hide-screen
      {
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        
        &.focusable {
          &:active,
          &:focus {
            position: static;
            clip: auto;
            height: auto;
            width: auto;
            margin: 0;
            overflow: visible;
          } 
        }
      }*/ }

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat; }

.icon-circle {
  border-radius: 50%; }

.icon-dark {
  background-color: black; }

.icon-stack {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute; }
  .icon-stack .icon-category {
    z-index: 2;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; }
  .icon-stack .icon-base {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1; }

.gallery ul li div .modal-content .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .gallery ul li div .modal-content .label h3, .gallery ul li div .modal-content .label p {
    /*--------------------*\
      based on Malarky/Rock-Hammer
      hide elements based on requirement
      
      @include hide(option)
    \*--------------------*/
    /*@if $type == hide-screen
    {
      overflow: hidden;
      position: absolute;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      
      &.focusable {
        &:active,
        &:focus {
          position: static;
          clip: auto;
          height: auto;
          width: auto;
          margin: 0;
          overflow: visible;
        } 
      }
    }*/ }

/*@import "modules/_module-navigation";*/
/*@import "modules/_module-rating";*/
/*@import "modules/_module-subscribe";*/
#header {
  background-image: url("../img/header_bg-small.png");
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/ }
  @media width and (min: 30em) {
    #header {
      background-image: url("../img/header_bg-medium.png"); } }
  @media width and (min: 48em) {
    #header {
      background-image: url("../img/header_bg-large.png"); } }
  @media width and (min: 62em) {
    #header {
      background-image: url("../img/header_bg-extralarge.png"); } }
  @media width and (min: 86.375em) {
    #header {
      background-image: url("../img/header_bg.png"); } }
  #header, #header .logo {
    background-repeat: no-repeat;
    background-position: center center; }
  #header .logo {
    background-image: url("../img/header_logo.png");
    height: 100%;
    /*--------------------*\
      based on Malarky/Rock-Hammer
      hide elements based on requirement
      
      @include hide(option)
    \*--------------------*/
    /*@if $type == hide-screen
    {
      overflow: hidden;
      position: absolute;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      
      &.focusable {
        &:active,
        &:focus {
          position: static;
          clip: auto;
          height: auto;
          width: auto;
          margin: 0;
          overflow: visible;
        } 
      }
    }*/
    /*--------------------*\
      Malarky/Rock-Hammer
      
      @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
    \*--------------------*/ }
    @media width and (max: 37.5em) {
      #header .logo {
        /*--------------------*\
          Malarky/Rock-Hammer
          
          @include background-size( auto | % | px )
        \*--------------------*/
        -webkit-background-size: 320px auto;
        -moz-background-size: 320px auto;
        -o-background-size: 320px auto;
        background-size: 320px auto; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*--------------------*\
  add box to screen displaying current breakpoint  
\*--------------------*/
body:after {
  content: 'no-bp';
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/
  /*--------------------*\
    Malarky/Rock-Hammer
    
    @include breakpoint(UNIT, QUERY PART LEFT, QUERY PART RIGHT, TARGET)
  \*--------------------*/ }
  @media (min-width: 30em) {
    body:after {
      content: 'bp2'; } }
  @media (min-width: 37.5em) {
    body:after {
      content: 'bp3'; } }
  @media (min-width: 48em) {
    body:after {
      content: 'bp4'; } }
  @media (min-width: 62em) {
    body:after {
      content: 'bp5'; } }
  @media (min-width: 86.375em) {
    body:after {
      content: 'bp6'; } }
