// IMPORTS
@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";

// SMACSS
@import "base";
@import "layout";
@import "module";
@import "state";

// 
// Template
// Created By: 
// -----------------------------------------------------------------------------

// General
[class^="icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-carry {
  fill: #94d31b;
}



// Header
#header {
  background-image: url("../img/header_bg.png");
  
  
  &, .logo {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .logo {
    background-image: url("../img/header_logo.png");
    height: 100%;
    
    @include hide(image-replacement);
    
    @include breakpoint($bp3, max, width) {
      @include background-size(320px auto);
    }
      
    h1,
    h2 {
      @include zero;
    }
  }
}





// -----------------------------------------------------------------------------
// End of template
//

@import "print";