// Header
.l-header {
  background-image: url("../img/header_bg-small.png");
  
  @include breakpoint($bp2, min-width) { background-image: url("../img/header_bg-medium.png"); }
  @include breakpoint($bp4, min-width) { background-image: url("../img/header_bg-large.png"); }
  @include breakpoint($bp5, min-width) { background-image: url("../img/header_bg-extralarge.png"); }
  @include breakpoint($bp6, min-width) { background-image: url("../img/header_bg.png"); }
  
  &, .site-logo {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .site-logo {
    background-image: url("../img/header_logo.png");
    height: 100%;
    
    @include hide(image-replacement);
    
    @include breakpoint($bp3, max-width) {
      @include background-size(320px auto);
    }
      
    .site-logo__sitename,
    .site-logo__tagline {
      @extend %zero;
      @extend %hide-screen;
    }
  }
}

