<nav id="navigation" class="nav main-site-nav">
  <h2 class="main-site-nav__header">Navigation</h2>
  
  <ul class="main-site-nav__menu">
    <li><a class="{% if page.section == "home" %}active{% endif %}" href="/"><i class="icon-everything-light"></i> all reviews</a></li>
    {% for category in site.categories %}      
    <li><a class="{% if page.section == "blog" %}active{% endif %}"href="/{{ category | first | slugize }}/"><i class="icon-{{category | first }}-light"></i> {{ category | first }}</a></li>
    {% endfor %} 
  </ul>
</nav>