---
---
{% include partials/doctype.html %}
{% include partials/license.html %}
{% include partials/conditional.html %}
{% include partials/head.html %}

<body>
  <input type="checkbox" name="handler" class="handler" id="handler" onclick="null" />
  
  <div class="wrapper">
    <label for="handler" class="handler-icon" href="#"><i class="icon-reorder icon-rotate-90"></i></label>
    {% include header.html %}
  </div>
  
  {% include nav.html %}
  
  <div class="wrapper">
      
    {{content}}
  
    {% include subscribe.html %}
    
    {% include colophon.html %}
  
    {% include footer.html %}
    
    {% include scripts.html %}
    
    {% include analytics.html %}
  </div>