---
---
{% include partials/doctype.html %}
{% include partials/license.html %}
{% include partials/conditional.html %}
{% include partials/head.html %}

<body class="{{page.body-class}}">

  <input type="checkbox" name="handler" class="handler" id="handler" onclick="null" />
  
  <div class="wrapper">
    <label for="handler" class="handler-icon" href="#"><i class="icon-expand-light"></i></label>
    {% include header.html %}
  </div>
  
  {% include nav.html %}
  
  <div class="wrapper">
    
    <main>
      {{content}}
    </main>
    
    {% include subscribe.html %}
    
    {% include colophon.html %}
  
    {% include footer.html %}
    
    {% include scripts.html %}
    
    {% include analytics.html %}
  </div>