---
layout: default
---

<article class="post">
  <i class="{{page.category}} post__category"></i>
  
  <div class="lead-image post__image">  
  {% for pic in page.leadImage %}
    {% include partial/picture.html %}
  {% endfor %}
  </div>
  
  <header class="post__header">
    <hgroup class="post__title">
      <h1>{{page.title}}</h1>
      <h3>{{page.company}}</h3>
    </hgroup>
    
    <ul class="post__details">
      <li class="post__details__author"><a href="http://twitter.com/{{page.twitter}}">{{page.author}}</a></li><!--
   --><li class="post__details__date">{{ page.date | date: "%d %B %Y" }}</li>
    </ul>
  </header>
  
  {{ content }}
  
  {% include rating.html %}
    
  {% include gallery.html %}
</article>