---
layout: default
---


<article class="article">

  <div class="article__image">
    <span class="icon icon--stack">
      <i class="icon icon--circle icon--dark icon--base"></i>
      <i class="icon icon--{{page.category}} icon--category icon--light"></i>
    </span>
    
    <div class="lead-image">            
      {% for pic in page.leadImage %}
        {% include partial/picture.html %}
      {% endfor %}
    </div>
  </div>
  
  {% include partial/article_header.html %}
  
  {{ content }}
  
  {% include module/rating.html %}
    
  {% include module/gallery.html %}
  
</article>