.article-list {
  list-style: none;
  @include zero;
  
  & > li {
    // separator
    &:after {
      border-bottom: 1px dotted $lighterneutralcolor;
      content: '';
      display: block;
      padding-top: 10px;
    }
    
    &:last-of-type:after {
      border: none;
    }
    
    &:nth-of-type(2n) {
      .image-wrapper {
        float: right;
      }
    }
    
  
    article {
      margin: 20px 20px 0;
      @include clearfix;
      
      // icons
      .icon-stack {
        margin: -16px 0 0 -16px;
      }
      
      // image
      .image-wrapper {
        margin-bottom: 4px;
        @include breakpoint($bp4, min, width) {
          @include span-columns(6);
        }
      }
      
      header {
        h1 {
          @include font-size(24);
          font-weight: 400;
          @include zero;
        }
        
        h3 {
          @include font-size(18);
          font-weight: 200;
          @include zero;
        }
      }
      
      ul {
        list-style: none;
        @include zero;
        
        li {
          display: inline;
          color: $lightneutralcolor;
          @include font-size(12);
          
          a {
            color: $lightneutralcolor;
            text-decoration: none;
          }
        }
      }
    }
  }
}