.icon-carry-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVklEQVQ4T2NkQAP///+/ABTSRxeH8i8wMjIaIssxYjHgPw7NYGGgASh6cBqArhDoMrDB1DeAgJ/x+QYkd4ER5jRCKnHJjxoAjNbRQKROGODLvoQS6EUAm81KguuwnrQAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-carry {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASElEQVQ4T2NkwAQXgEL6WMRBQiA5Q2Q5RiwK/+PQDBNG0YPPAHQ5mMHUNwCfnwn4huECyDmE/IzXkFEDGBhGw4BKYUBJUr4IAMPpFKbEHgF5AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-clothing-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVQ4T2NkgIL///87AJn1QJzIyMj4ACZOiGYEalQAKuoH4gAgbgRqbiCkCVkeZMB/qMBHIK0ANOADuQaAnL6AFM0gtTAXPARqBnmFZAAzwBFowAGSdUNdsACoOYEczWAvkKsRpm/UgNFABKUFANuNIxGmVOKuAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-clothing {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZUlEQVQ4T2NkQAAHILMeiBOB+AGSOF4mI1BWAYj7gTgAiBuBuIFYzSB1IAP+QzV8hBr2gVwDQE5fQIpmZBc8hNpOqn64FxyBOg+QrBsaBiBnJ5CjGeYFcvWC9YFigSIwasCwCEQAyWYOEan41PYAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-devices-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAP0lEQVQoU2P8////BQYGBn0gJgZcYARq+E+MSpiaUQ3EhNZoKCGFkiCQHQDE89FDDlcogTQIAPF9bBpISd4XAUi3Q3JtVYOdAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-devices {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAPklEQVQoU2NkYGC4AMT6QEwMuMAIVPWfGJUwNaMaiAmt0VBCCiVBIDsAiOejhxyuUAJpEADi+9g0kJK8LwIA2d0TomxeylIAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-dining-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnUlEQVQ4T2NkwAH+//9/ASj1n5GR0RAXG6SVEY8B/8EKgABoAFY2IQNALgAZYAB1AQYbrwG4XIYujuEFqG36RBpwAZsBYP8SC8AGAG1tAFLxQKxArEaYOlAITwBy8knViGzAByCHnxIDSPIzRizAEgklLqDYC6AYqCfbBUjRmABky5No0ENsCYkUFzVizY3QhFWAJ3ofAuUWADNaAwChwFsXSRakGAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-dining {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T2NkwA0uAKX+A7EhEONiMzDiMQCkGQRAanCx8RoAshUEDKAuwMbGawAexyGksHkBZLM+UbqBYYPNAJh/iTIDZkADUHU8ECsQpQtJEciACUCcT6pGmHqQAR+AmJ8SA0jyM7pFyImELEdQxQugGKgny3poOgfpBRmSAMTyJBr0EFtCIsVFjbhyI8iQAjzR+xAotwDkcgDCmhw4b4QiFwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-everything-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABUklEQVQ4T52TgU3DMBBF8QSwAe0E0AkaNqATVJ2AMgHdoM0GYQQmoBuQTNB0Atgg/Gfu0ksUJISlU+zz/e9/33G6Go2u62ZKPSkKxb1t1/oeFWVKqY2QFBcCHww85o3rg0iePdETCMwpdxNI8q+mZu2KRLJgngn+cHIrwFx1tEQr19bONlnPJ2NG2n5Kvwj8MEg+rGYOgfeNzJ3CySLPm/CPnhCm0px2Sgi894WKaq2RuLRiSNmvtPcVCFxFDUGXzbhIvNGyBahUMdWO+faDGxPYppuFHyg6x/sXhkM+nWDQQpC51TwaCtGKVkSAsndFE03kLwPUDxXSym1IbVRTjU2cqcCdz0YGFZXm/vOQXikgvVyj9exXidMPTqKTdlq/GOFZX64S6XiQFf/2K3NyaYUAGCjzx9UInOf/eUwDrwYE1g6eYGah8MfVaH5U8BLxoB/fi3So9kBLpLAAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-everything {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOElEQVQ4T52TgU0CQRBFpQLpgKMCsQLODrQCQgVCBdIB0AGWYAVeB0IFnBVIB/DfZT4ZzruYuMnP7s7O/Pkzuzu4+z0KmV6FUpjE8V5zJWyFOocMWvGbCO7gvZrwWXqXCcjy0BGJ/T3UzJKiR9Ym+CszssdBQin3Uc4CAmo+BjPS1j36nYy+fIXPGKOzI3OVyDLPhzbPybDTmnK2ELh2anK3p+EMKTYCTonAKvYQnOPAEofa1xFY9pSDuYnrIsBOhkqgH8zfQWo+kvyYoF2CnRZB4D1EL1EKyj6FQ24ir4ygPGptRskw13oXuDaxkMHX6EY6Bmc/HmwogPTmGjnwVdLpJ4GyGCvhLdb0gatEOj1oFPc9ZTLjgCMBDEj9uQ5e/+cz3fSqTUCmAmlCKfhzkbESKLUORc10ATk6TA6+XTkSAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-expand-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAc0lEQVQYV2NkwAMY////nwCUV2BkZGxAVweSvAAU3IBLUgAoaQCUPIChEyQA1L0BSDUAFYBMgQNGqCRIlzwQGwIVfIDJwiRhOhywSYJUg1wM1wXSDXItyEEgCRT7YJIXgBIG2MICpDMAKAlyLQYAOwgXAACDni0NOtnXVQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-expand {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAaElEQVQYV2NkwAMYgXIJQKwAxA3o6kCSF4B4Ay5JAaCEARAfwKYTJAbTCTIFDkDGggBIlzwQGwLxB5gsTBKmwwGbJEg1yMVwXSDdIJ0gB4EkUOyDSYIEQa7FACCdAUAMci1WSWziYDEA2EQPDddhX68AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-safety-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAd0lEQVQ4T2P8////BQYGBn0gJgdcYAQa8J8cnTA9g98AQaBTFYD4ABDzY/MqXi8wAgFIEzCYEoDUfLINgBoyAUjnoxuCzQWCQIs/YLMNW5STagAoPO4jG05sGOBMK7Q1AOhUUDSCwHtcqXXwp0SC+QzkBUqy80UAPaldcmM9BkYAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-safety {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAbklEQVQ4T2NkYGC4AMT6QEwOuMAI1PWfHJ0wPYPfAEGgUxWA+AAQ82PzKiEvgORBIAGI51NiAEjvBCDORzcEmwtAzv6AI2YwopxUA0DhcR/ZcGLDAGdaobkBoPAAgfe4UishFxBM5YPDAEqy80UAcsAbokOl7F4AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-shelter-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAAcUlEQVQ4T2NkoCJgJMas////FwDVLWBkZPyATz1Bw4g1CGQJTsOAhggA5ROIcRHMtVgNgxkE9NYEYoIBp2HkGoThTahBDkAXbSDFRRgugxqkADToAjkGwV1GDYPwxiY5riOYzkgxdNQwUkILonbwhhkAtLQjEsdUKIMAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-shelter {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAYAAAA/mJfHAAAAaUlEQVQ4T2NkoCJgJNKsAqC6BUD8AZ96YgwjyiCQJfgMEwDKJxDjIphrcRkGM2gCkcEAVobNMLIMwmYYyCAHIN5AiouweRNkkAIQXyDHIGSXUWwQodgk2YHEpDOiDR01jOiggiscvGEGAGxYCxIY8oUYAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon-star-empty-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7klEQVQ4T52TARHCMAxFVwVsCmAKAAUgARQwJKCASsABs4ACwAFz0DmYg/J/r+VG6Uq33uW6Jc1LmqQiiyyttaRZCGH20BJ/AB3sGoBiNADRKzhdreMRkHpUBgAoOMytkwKgTAZ40Z1fMAuBwysbiTslh2wH7vyAnnV5WWkI4M8yVsyIbU8AI5I8BVKYNk6E3FDY3WcOJkBMUb8GCRAW755YjxIA5QMknM8JgAbO7FjmA2roDgmAEwCXEIDd2PQAT/vd11G1BoDt/8mAQzKDtJAKhwhkl1gbZsfRbqFfuCD+FRQMcujh2BHPXfqEvAE7y1uI7HfWBwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-star-empty {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4klEQVQ4T52SDRHCMAxGmQKYAkABoAAkgAKGBBQwCThgFlAAOGAOhgMcwPd26V2v+1/vcu2a5CXL12jSvlJzu70SHXUAvvL/ZHFTXBsgUdLNEk/aszpIG6BQwtySOC+HAPzqLq+2CzpYWyV2bCbbNfzzU/fM5W2WA+Bj1THMJvcBABUhj4HEbohjIHcV3fsqDIWUQw1lZHiPnvNA1iIEpLq89ADkptgkBGRyHHsAzoq5EhcCUGPrAV529u+42pj8FQCPZCr7yBKTlwRmQ3c8bXwLVyTsoJAjteC6PwGKWmX7rD88YSWR7AYgXwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-star-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA10lEQVQ4T5WTgRGCMAxFzQTqBJ4T6AY6ghuIk8gmsom6gWxQN2CD+j8Gjtam0t7lCiT/JU2DLDLLe1/TLSL9nlryB9DB7wFYFwOQvYLopsILIE1RBQA4CDYqcgBsZwOi7IMuWYUgeK+ZuNNWsKNx5ge+sy8vtZYAvuxyzTR8LRMRwIwkl0C+YpGuv8ZCyCimdpyDmZBAHAC0Ejbvnj0zyp76g0nU0b0mAD+Zh5gY0MBxjgCmOHUE3sZhAnji+cRuW9ccV8DAJewNqyAkMLtigEN0bf04KdIH+LpaO1LkBuoAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-star {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4klEQVQ4T52SDRHCMAxGmQKYAkABoAAkgAKGBBQwCThgFlAAOGAOhgMcwPd26V2v+1/vcu2a5CXL12jSvlJzu70SHXUAvvL/ZHFTXBsgUdLNEk/aszpIG6BQwtySOC+HAPzqLq+2CzpYWyV2bCbbNfzzU/fM5W2WA+Bj1THMJvcBABUhj4HEbohjIHcV3fsqDIWUQw1lZHiPnvNA1iIEpLq89ADkptgkBGRyHHsAzoq5EhcCUGPrAV529u+42pj8FQCPZCr7yBKTlwRmQ3c8bXwLVyTsoJAjteC6PwGKWmX7rD88YSWR7AYgXwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon-tools-light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4T2NkIAP8//9/AlBbPhAnMpKqH6h5AVBPPFTfQUoNIN0FIJuhrjjAyMi4gGQXoHt51AAGBowwQA5hYtIIigFoiSQRFE2EDIEbgKYZpI94A8jVDLKFkRLNMAP+I/mTKGcjhwvIBTADSNYMMggA/dI1iLQebGAAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon-tools {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaklEQVQ4T2NkIA9MAGrLB+JERjL0LwDqiYfqO0ipAWS5AGQ5yBUHQDQ5LkDx9agBDAzYwgAewsSkEXQDkBNJIjS68JqDbACyZpAmkgwgSzPIFpALyNYMM+A/kieJcjZyoIBcADOAZM0ggwCsERSRvyZ5wwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
