.icon--carry.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVklEQVQ4T2NkQAP///+/ABTSRxeH8i8wMjIaIssxYjHgPw7NYGGgASh6cBqArhDoMrDB1DeAgJ/x+QYkd4ER5jRCKnHJjxoAjNbRQKROGODLvoQS6EUAm81KguuwnrQAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--carry {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASElEQVQ4T2NkwAQXgEL6WMRBQiA5Q2Q5RiwK/+PQDBNG0YPPAHQ5mMHUNwCfnwn4huECyDmE/IzXkFEDGBhGw4BKYUBJUr4IAMPpFKbEHgF5AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--clothing.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAAhklEQVQ4T+2QUQ2AMAxEqZNJGQ5wACgBFGABJyAFHICCcsdXw09D+V2Ty7Z093KtVKZUNeM5QL2I7Lbn3YUfAEg4ZqiBJkBGz/juCyA0MQXrghJAZwSkxsSRlq8Q/mciGlvoAIQjhoqgDOcK1QBtIQoT0chUgHRRyDPaH7P1FpC/ybIjf0c35msjEStst38AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--clothing {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAAfElEQVQ4T2NkQAUOQG49ECcC8QM0ObxcRqisApDuB+IAIG4E4gZSDAGpBRkE0gRyBQh8BGKQoR/IMeg/kiaQlxaQagjMRSCN8UD8EOoacswBe80BiPcDsSMQHyDLFGgYgfSCXJVAriEwr1GiH64XFv0UGzZqEOEgHMZhBABv/A4R+A0mRwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--devices.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXElEQVQ4T2NkQAL///8vAHL7kcWwsD8AxQwZGRkfgOQY0Qw4AOTbEzAAJO0INACkdtSA0TCgTzpIBAY0KMnuR0udRKdEkg0gJjN9BLrGAGtmIiITYShByY3kGAAA8nJMERDiAXcAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--devices {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVElEQVQ4T2NkQAUFQG4/mhg69wNQwBCIH4AkGNFkDwD59gQMAEk7AjFI7agBo2FAn3SQCE2y+9FSJ9EpkWQDiMlMH4GuMcCVmYjIR6hK0HMjyQYAAPDdIhF7xt0MAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--dining.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWElEQVQ4T2P8////BQYGhv+MjIyGuNhAeZyAEajpP0gWaABO9kgxAJc/QWFDKAxAsaCPQ9FFoH4DvAYgSyLHCD5NyHIozhs1AJghkJL10A3ED9CcKUCsFwBXI2wR9sqczQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--dining {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAUUlEQVQ4T2NkYGC4AMT/gdgQDxsohR0wQjWDZPGxR4oB+MIJbxiAYkEfh4qLQHEDnLqhIY8sD4pOWIzg0weXA0XdqAHDLgw+QH0kQFQiACoCAA4RHhFKYEJRAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--email.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4klEQVQ4T5WTARHCMAxFiZM5AAmgAOZgKAAUAA5AAcPBcFAJoIDDAVNQ/t+lXOgdW5a73JYu7zdpM5lkFmMssLSBz+AvEanyHBuLDQCfFObyDfCqD+a3rwDgO+KpAg885xB4uwSynVtAhQfuKtCen7oTYe7MalxGAdv3AnBwkZpEgdT7GnA9Bk4tRLycAW/HwkmgHrrr3jlACzy0gCcr2MMD4tJbDc+AIO/7YqASIo1HhAJMXGbJRwgcvAKc+QrO+U929Z7Lv1F2/QfdLdgyzVDtUAEHbNB+BJito82WGs9IfwB6L1cRqXUjjAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--email {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVQ4T52TjREBQQyFXSfXASVQATo4FaACdEAF6IAOlEAFRgeuAt43k5id9XM5mclcNpv38nPZovMupVxTaU96k1YfYl6uIrtcGxj3UTr6BeYuJTjr3DXARd++9B4lSDPXAtFGI9grIPhqmQCTmWpCQgtp9oHOpxDSgiDw3ieyd23A3sJDxkY6awt2ArJW/4CdgKHRNxUszB5HCZkBQH7ZNgFBcIiQQEDgMAte6byMErDzzID9d9lH5/JtlUPvwIeYVupLNZcTu1Hy1wigtPKZTeNKPwHr5yQRZFymHwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--everything.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcElEQVQ4T82TUQ6AMAhD7Yl097/EdiJkHxiD1GDcku27eXSlYPv5ICJVGbvjVAAlw+4AiYQKwFAAdZp1QHUjAFGITSM47hnQQZmgumYegKRrxq4+fA7RCNaHJQDxtpg1/wW2LXZMpn/0wYNSB/PWlRPyK12KOVyWfQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--everything {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAbklEQVQ4T2NkoBAwAvVfAGJ9NHNAYobEmA0y4D8OhSA5goAUA7C6lBQDsLqUKgZgc9pFoOcN0AIApwsIBhRUAe0MwOYFmKuQ0wPJgQgzBJYeBt4ArLGFLx2gewFrbOHKTDDF2NIDikFEZRh8CQUA7OcbqNYoQXwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--right.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVQ4T2NkoBAwUqifgTYG/P//PwHoMgVGRsYGQi7E6gKgAReAGjdQYoAA0AADoAEHyHIBSBPQFRuAVAPQEJBrcAKcgQg0AGS7PBAbAg35gMsEfAbAbHYg14AH0HDAaTvIVbhiARSIoGjE6398BlwAajYgFAP4DAgAGgCKBYKANkmZoLVICih2AQCZVy0RijuLpAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--right {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeElEQVQ4T2NkoBAwUqifgWYGJABdpgDEDYRciMsFF4AaN1BigABQswEQHyDXBSB9MBeAXIMT4AtEkO3yQGwIxB9wmYDPAJjNDuQa8AAaDjhtB7kKlwtAgQiKRrz+x2cASCMoFggCXC4IgMYC2QYQ1AhTQLO8QLQLAJulDxHDb1reAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--rss.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqElEQVQ4T2NkoBAwUqifYTgY8P//fwFgOCQA8XlGRsaDpIYJOAyAhoAMmA/EH4B4AhBPBBoGYhME8EBEMgSkCaQ5EGjIAUImoMQCmiEgvYlAQxbgMwQjGrEY4ojPJVjTARbvKOIKE5wJCc2QRqABDdi8ghyIoOh0AOILQMUP0GLnAVBMEa8BuAIKySWGQEMuoKsjKi9ADREAGgBKIyiAKAOg3gEZgJG4ADuJPhH/YOMrAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--rss {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnklEQVQ4T2NkoBAwUqifYZgYIAAMhwQgPg/EB0kNE1gYgAyYD8QfgHgCEE+EsgmahxyIMENAmkAGBQLxAUImoMcCsiEgvYlAvACfIdiiEd0QR3wuwZUO0L2jiCtM8CUkZEMagQY0YPMKsgGg6HQA4gtA/ACqGGYIiA9yBQYgJinDDDGEGo5iCDEGgDSADAG5EJRGyDIApAlkACh9oAAA3JwaEWb/q4gAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--safety.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAd0lEQVQ4T2P8////BQYGBn0gJgdcYAQa8J8cnTA9g98AQaBTFYD4ABDzY/MqXi8wAgFIEzCYEoDUfLINgBoyAUjnoxuCzQWCQIs/YLMNW5STagAoPO4jG05sGOBMK7Q1AOhUUDSCwHtcqXXwp0SC+QzkBUqy80UAPaldcmM9BkYAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--safety {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAbklEQVQ4T2NkYGC4AMT6QEwOuMAI1PWfHJ0wPYPfAEGgUxWA+AAQ82PzKiEvgORBIAGI51NiAEjvBCDORzcEmwtAzv6AI2YwopxUA0DhcR/ZcGLDAGdaobkBoPAAgfe4UishFxBM5YPDAEqy80UAcsAbokOl7F4AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--send.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2NkoBAwUqifYdQAhtEwACai0XQwGMIAACaYABGnE9aRAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--send {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2NkoBAwUqifYdQAhtEwACai0XQwGMIAACaYABGnE9aRAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--shelter.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAAs0lEQVQ4T2NkwAP+//8vAJTeD1XiyMjI+AGXckZcEkiGGEDVXADSOA3DahAWQ2D24TQMwyA8huA1DMUgIgzBaRjcIBIMwWoY2CAyDMEwjJECQ1ANAxoEigl9fOmJCLlE5DD6T4QGdCUXgQIJwIR6gRKDGoEGNMBMJsegh0DNASBXIDuPVIMmAjU3YMtzxBoEcgUoLA4QzLTA2MMV2AuBmgvw5XyQ4cguQk8GH6Gu2EBMbAIAMPZbe/F2MQ0AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--shelter {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAArElEQVQ4T2NkwA8EgNL7oUocgfQHXMoZ8ZgDM8QAquYCkMZpGC6D0A2B2YfTMGwG4TIEr2HoBhEyBKdhyAYRawhWw2AGkWoIhmEgg8g1BMUwkEGgmNAnkJ4ISScih9F/QqqxyF8EiiWAHEOJQY1AAxpghpNj0EOg5gBokMAdSapBE6GuwMhzxBoEcgUoLA4Qk2lxBfZCoOYCIMaZ80GGI7sIPRl8hLpiAzGxCQA/hyuBTQUOgQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--star.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7klEQVQ4T52TARHCMAxFVwVsCmAKAAUgARQwJKCASsABs4ACwAFz0DmYg/J/r+VG6Uq33uW6Jc1LmqQiiyyttaRZCGH20BJ/AB3sGoBiNADRKzhdreMRkHpUBgAoOMytkwKgTAZ40Z1fMAuBwysbiTslh2wH7vyAnnV5WWkI4M8yVsyIbU8AI5I8BVKYNk6E3FDY3WcOJkBMUb8GCRAW755YjxIA5QMknM8JgAbO7FjmA2roDgmAEwCXEIDd2PQAT/vd11G1BoDt/8mAQzKDtJAKhwhkl1gbZsfRbqFfuCD+FRQMcujh2BHPXfqEvAE7y1uI7HfWBwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--star-empty.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7klEQVQ4T52TARHCMAxFVwVsCmAKAAUgARQwJKCASsABs4ACwAFz0DmYg/J/r+VG6Uq33uW6Jc1LmqQiiyyttaRZCGH20BJ/AB3sGoBiNADRKzhdreMRkHpUBgAoOMytkwKgTAZ40Z1fMAuBwysbiTslh2wH7vyAnnV5WWkI4M8yVsyIbU8AI5I8BVKYNk6E3FDY3WcOJkBMUb8GCRAW755YjxIA5QMknM8JgAbO7FjmA2roDgmAEwCXEIDd2PQAT/vd11G1BoDt/8mAQzKDtJAKhwhkl1gbZsfRbqFfuCD+FRQMcujh2BHPXfqEvAE7y1uI7HfWBwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--star-empty {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4klEQVQ4T52SDRHCMAxGmQKYAkABoAAkgAKGBBQwCThgFlAAOGAOhgMcwPd26V2v+1/vcu2a5CXL12jSvlJzu70SHXUAvvL/ZHFTXBsgUdLNEk/aszpIG6BQwtySOC+HAPzqLq+2CzpYWyV2bCbbNfzzU/fM5W2WA+Bj1THMJvcBABUhj4HEbohjIHcV3fsqDIWUQw1lZHiPnvNA1iIEpLq89ADkptgkBGRyHHsAzoq5EhcCUGPrAV529u+42pj8FQCPZCr7yBKTlwRmQ3c8bXwLVyTsoJAjteC6PwGKWmX7rD88YSWR7AYgXwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--star {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4klEQVQ4T52SDRHCMAxGmQKYAkABoAAkgAKGBBQwCThgFlAAOGAOhgMcwPd26V2v+1/vcu2a5CXL12jSvlJzu70SHXUAvvL/ZHFTXBsgUdLNEk/aszpIG6BQwtySOC+HAPzqLq+2CzpYWyV2bCbbNfzzU/fM5W2WA+Bj1THMJvcBABUhj4HEbohjIHcV3fsqDIWUQw1lZHiPnvNA1iIEpLq89ADkptgkBGRyHHsAzoq5EhcCUGPrAV529u+42pj8FQCPZCr7yBKTlwRmQ3c8bXwLVyTsoJAjteC6PwGKWmX7rD88YSWR7AYgXwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--tools.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0ElEQVQ4T42TgRHCMAhFwwS6ghM4grqB3cQNTEfoJDqCbuAm6gTx40GOXgNN7rhQyr18AqEkq5RyhnuDvWAjEd31X7RTA6ChoQdCcnLSZHxnEK6wJ2LHNRUMKJyEZKtmEfNADOCa97AMxmgUfBDbIca7u7QEvrzWYvgpgvxlyz1c4B5gX9jG0EJIrdt0Ywv/IWVp2IUsAKKoG9IEBBBVxAonbr0L6IBwyhACDOQtR/OI59mwRT02F+sPWydgNmym9Wm1BJNsh60+tC5AY9gq4AdJ925kh9smGgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--tools {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVQ4T42TARHCMAxFmQKwgIJJABwwJzjYkIASJoE5wAmgAP7f9Y/eLmnTu3/Ntc1L0qbN5j/OMO/QE7pCY7bnmo0B0FIXgRDAyByKOMDuoQk61rIg4JsO5dlYayaLTqy5hRiZtSuDN+w9xLl4B7o86xDhpxJEaRNygQ7QB9pmtCIkr1s+OxiPVJbWXIgFoFMY4gE8iDJihjdoLAFqEO53NYAgrxRaz6ynniIA+rrNFgWsm43Q+QtEAetmWz5aFKCIarYF8ANMTSxwmclhdwAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
}
.icon--twitter.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVklEQVQ4T2NkIBH8///fAahlP1TbBUYS9YOVAw15AKTkQWySDQBqFgDqew+zmGQDoC74AKQvAPECcg0wAGp+wMjI+IEsA5DDbdQAMtIBesIbDUQqBCIA+9UXMsRwdaMAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--twitter {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASklEQVQ4T2NkIB04ALXsh2q7wEi6frCOB0AsD2KQY4AAUN97mMXkGADS+wGILwDxAnINMIB64wO5BsCDbtQA8tIBStobDUQqBCIA4r0IPrvbLL0AAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}
.icon--user.icon--light {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA3klEQVQ4T6WSDQ3CMBCFdwpAAlMAOAAF4AAkDAUEBSCBOQAF4ABQQCUMBeW9pkvGpd2RbEmz9q733c+rFInPez+B+Yg1i+4n/jsRcfq6aEMMfsA+Vr4G57mGpAAXXFylKoPtCsC660sBmGmUATgASgvgM8HBDMBP0lQFgwFnJNpkqqhRwNZqgRJSNj2HD2U1VSA9SvlWVZTmO4iBlJBSLRTgjjMlppSu9YUhIpCPZo9V9SnQ8Z2wPwDUSAy+sb8/g9trnNOSgL6pW8yagF7dDUJoYQigIIC9TK1aM/7XFxjSUnD6jSOPAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
.icon--user {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4T6WSjQ0BQRBGXQWUQAXogArogBKoQFRACXcdUAEdoAJKOBXwvc2duMmOldwlk8vO7Lz5+TbrxL++3DvZqApf9V/LHvZ6Fskn+SLrmVip89hCYoCDLs2czo7yz79jMQCVug6AEQYpwMtJrt2NorEOWgNylVo4XRTyL1MjoAKy2T085UPWhpSxESgA5G66YHmNZOIWQCISItXEAM46IzFSfkA1gEezka2c2a17L8dWVgIg+VTN92d+uMaepgBymbf1FLAAkNL9FySM0AYQVGCWYapXJ357A+J3In/8pIBfAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
}
