.icon--carry.icon--light { background-image: url('png/carry-light.png'); }
.icon--carry { background-image: url('png/carry.png'); }
.icon--clothing.icon--light { background-image: url('png/clothing-light.png'); }
.icon--clothing { background-image: url('png/clothing.png'); }
.icon--devices.icon--light { background-image: url('png/devices-light.png'); }
.icon--devices { background-image: url('png/devices.png'); }
.icon--dining.icon--light { background-image: url('png/dining-light.png'); }
.icon--dining { background-image: url('png/dining.png'); }
.icon--everything.icon--light { background-image: url('png/everything-light.png'); }
.icon--everything { background-image: url('png/everything.png'); }
.icon--expand.icon--light { background-image: url('png/expand-light.png'); }
.icon--expand { background-image: url('png/expand.png'); }
.icon--safety.icon--light { background-image: url('png/safety-light.png'); }
.icon--safety { background-image: url('png/safety.png'); }
.icon--send.icon--light { background-image: url('png/send-light.png'); }
.icon--send { background-image: url('png/send.png'); }
.icon--shelter.icon--light { background-image: url('png/shelter-light.png'); }
.icon--shelter { background-image: url('png/shelter.png'); }
.icon--star-empty.icon--light { background-image: url('png/star-empty-light.png'); }
.icon--star-empty { background-image: url('png/star-empty.png'); }
.icon--star.icon--light { background-image: url('png/star-light.png'); }
.icon--star { background-image: url('png/star.png'); }
.icon--tools.icon--light { background-image: url('png/tools-light.png'); }
.icon--tools { background-image: url('png/tools.png'); }
.icon--twitter.icon--light { background-image: url('png/twitter-light.png'); }
.icon--twitter { background-image: url('png/twitter.png'); }
.icon--user.icon--light { background-image: url('png/user-light.png'); }
.icon--user { background-image: url('png/user.png'); }
