.icon--carry.icon--light {
	background-image: url('png/carry__light.png');
	background-repeat: no-repeat;
}
.icon--carry {
	background-image: url('png/carry.png');
	background-repeat: no-repeat;
}
.icon--clothing.icon--light {
	background-image: url('png/clothing__light.png');
	background-repeat: no-repeat;
}
.icon--clothing {
	background-image: url('png/clothing.png');
	background-repeat: no-repeat;
}
.icon--devices.icon--light {
	background-image: url('png/devices__light.png');
	background-repeat: no-repeat;
}
.icon--devices {
	background-image: url('png/devices.png');
	background-repeat: no-repeat;
}
.icon--dining.icon--light {
	background-image: url('png/dining__light.png');
	background-repeat: no-repeat;
}
.icon--dining {
	background-image: url('png/dining.png');
	background-repeat: no-repeat;
}
.icon--email.icon--light {
	background-image: url('png/email__light.png');
	background-repeat: no-repeat;
}
.icon--email {
	background-image: url('png/email.png');
	background-repeat: no-repeat;
}
.icon--everything.icon--light {
	background-image: url('png/everything__light.png');
	background-repeat: no-repeat;
}
.icon--everything {
	background-image: url('png/everything.png');
	background-repeat: no-repeat;
}
.icon--right.icon--light {
	background-image: url('png/right__light.png');
	background-repeat: no-repeat;
}
.icon--right {
	background-image: url('png/right.png');
	background-repeat: no-repeat;
}
.icon--rss.icon--light {
	background-image: url('png/rss__light.png');
	background-repeat: no-repeat;
}
.icon--rss {
	background-image: url('png/rss.png');
	background-repeat: no-repeat;
}
.icon--safety.icon--light {
	background-image: url('png/safety__light.png');
	background-repeat: no-repeat;
}
.icon--safety {
	background-image: url('png/safety.png');
	background-repeat: no-repeat;
}
.icon--send.icon--light {
	background-image: url('png/send__light.png');
	background-repeat: no-repeat;
}
.icon--send {
	background-image: url('png/send.png');
	background-repeat: no-repeat;
}
.icon--shelter.icon--light {
	background-image: url('png/shelter__light.png');
	background-repeat: no-repeat;
}
.icon--shelter {
	background-image: url('png/shelter.png');
	background-repeat: no-repeat;
}
.icon--star.icon--light {
	background-image: url('png/star__light.png');
	background-repeat: no-repeat;
}
.icon--star-empty.icon--light {
	background-image: url('png/star-empty__light.png');
	background-repeat: no-repeat;
}
.icon--star-empty {
	background-image: url('png/star-empty.png');
	background-repeat: no-repeat;
}
.icon--star {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}
.icon--tools.icon--light {
	background-image: url('png/tools__light.png');
	background-repeat: no-repeat;
}
.icon--tools {
	background-image: url('png/tools.png');
	background-repeat: no-repeat;
}
.icon--twitter.icon--light {
	background-image: url('png/twitter__light.png');
	background-repeat: no-repeat;
}
.icon--twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}
.icon--user.icon--light {
	background-image: url('png/user__light.png');
	background-repeat: no-repeat;
}
.icon--user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}
